/* register page */
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    flex-direction: column;
    background-color: aliceblue;
    background-image: linear-gradient(0deg, white 0%, #b5fffc 100%);
}

.form-container form {
    box-shadow: rgba(0, 0, 0, 0.35)0px 5px 15px;
    padding: 20px;
    background-color: aliceblue;
}

.form-container form .title {
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
}

.form-container form input {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
}

.form-container form button{
    border:1px solid black;
    border-radius: 0;
    background-color: black;
    color:white;
    width:250px;
}

.form-container form button:hover{
    border:1px solid black;
    background: #000;
    background: -webkit-linear-gradient(
        to right,
        #433443,
        #000
    );
    background: linear-gradient(
        to right,
        #433443,
        #000
    );
}

.forgot-btn {
    background-color: #434343a4 !important;
    border: 0 !important;
  }
  
  .forgot-btn:hover {
    color: white !important;
  }